# VS Code editor settings
.vscode/
*.code-workspace

# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
*.html

# macOS
.DS_Store

# Windows
Thumbs.db

## --- Core LaTeX Temporary Files ---
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.out

.DS_Store
*.zip
